
body{  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: rgba(119, 105, 58, 0.747);  
  } 
input[type=text],input[type=email], input[type=password], textarea {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
  }  
input[type=text]:focus,input[type=email], input[type=password]:focus {  
    background-color: #f1f1f1;  
    outline: none;  
  }
.btnbtn-primarybtn-sm {  
    background-color: rgb(180,162,162);  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
.btnbtn-primarybtn-sm:hover {  
    opacity: 1;  
  }
.gender {
    margin-left: 15px;
  }
nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: rgb(180, 162, 162) ;
    

}

.logo{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-size: 35px; 
    font-weight: 600;   
    transition: all 1s ease-in-out;
    display: flex;
    text-decoration: solid blue;
}
nav div:hover, nav div.active{
color: red;
font-style: bold;
font-weight: 800;
font-family: "Papyrus";


}

nav ul{
    display:flex;
    list-style: none;
    margin: 0;
    
}
nav ul li{
    margin: 0 5px;
}
nav ul a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    transition: all 2s ease;

}
nav ul a:hover,
nav ul a.active{
    color: red;
    background: black;
    border-radius: 10px;
}
.hamburger{
    display: none;
    cursor: pointer
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:black;
}

@media(max-width:768px){
    .hamburger{
        display:inline-block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        
    }
    .hamburger.active .bar:nth-child(4){
        opacity: 0;
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        right: auto;
        gap: 1;
        flex-direction: column;
        background-color: rgb(180, 162, 162);
        width: 100%;
        text-align: right;
        transition: 0.5s;
        
    }
    .nav-link{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
        right: 100%;
    }
}